/*add normalize css*/
* {
	margin:0;
	padding:0;
	font-size: sans-serif;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html,body{
	width:100%;
	height:100%;
}
header{
	background-color: black;
	height:8%;
	display:flex;
	align-items:center;

}

header h1{
	letter-spacing: 0.15em;
	margin: 0 auto;
	color:white;
}

section{
	height:90%;
	width:100%;

}

section article#stage{
	display:flex;
	align-items:center;
	height:95%;
	overflow: hidden;
	padding:1% 5%;
	align-items:flex-end;


}
section article div.img-container{
	width:100%;
	height:100%;
	display:flex;
	align-items: center;
}

section article#stage img{
	transform:rotate(-90deg);
	margin:0 auto;
	width:90px;
}
section article#stage li{
	list-style-type:none;
	width:100%;
	float:left;
	background-color:#ffe4e1;
	outline:thin #000 dotted;
}

section article#stage li.sorted{
	background-color: #86f67c;
}

section article#dashboard{

	width:100%;
	height:5%;
	padding:0 5%;
}
section article#dashboard select,
section article#dashboard input,
section article#dashboard button{
	margin-right:1%;
}


section article#dashboard select{
	width:13%;
	height:100%;
	padding:0 0 0 0.5%;

	-o-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}
section article#dashboard input{
	font-size:11px;
	width:10%;
	height:100%;
	padding:0 0 0 0.5%;
	

	-o-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}

section article#dashboard button{
	border:none;
	background-color: lightgrey;
	border-radius: 5px;
	cursor:pointer;
	width:10%;
	height:100%;

	-o-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}

section article#dashboard button#prepare{
}
section article#dashboard button#go{
}
section article#dashboard button#reset{
	background-color:#ffe901;
	color:#000;
	float:right;
	margin:0;
	
	-o-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	-o-webkittransition-duration:0.3s;
	transition-duration:0.3s;
}
section article#dashboard button#reset:hover{
	background-color: #ffff00;
	box-shadow:1px 1px 10px 2px #b2a300;
	color:#000;
	font-weight: 600;
	float:right;
	margin:0;
}

section article#dashboard label#err{
	position: absolute;
	color:red;
	font-size: 12px;
	bottom:10%;
	left:28.8%;
}

section article#dashboard .unset_value{
	border:red solid 1px;
}
section article#dashboard .done_value{
	border:#86f67c solid 1px;
}

section article#dashboard .done_button{
	background-color:#86f67c;
	color:#fff;
}


footer{
	height:2%;
	padding:0 5%;
}

footer h6{
	text-align:right;
}
